
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<br />
File a FIR @Html.ActionLink("Register FIR", "RegisterFIR", "FIR")
<br />
Login @Html.ActionLink("Register FIR", "RegisterFIR", "FIR")
<br />
Upload @Html.ActionLink("upload", "UploadFile", "Upload")
<br/>
 @Html.ActionLink("Check Status", "FIRStatus", "FIRStatus")
@Html.ActionLink("Login", "Login", "Login")
